@font-face{
font-family: "Gagalin-Regular";
src: url("../fonts/Gagalin-Regular.woff") format('woff');
font-weight: normal;
font-style: normal;
}
@font-face{
    font-family: "Lifehack-Medium";
    src: url("../fonts/Lifehack-Medium.woff") format('woff');
    font-weight: normal;
    font-style: normal;
    }
   
                @font-face{
                    font-family: "Ubuntu-Medium";
                    src: url("../fonts/Ubuntu-Medium.woff") format('woff');
                    font-weight: 500;
                    font-style: normal;
                    }
@mixin gagalin() {
    font-family: 'Gagalin-Regular',  Helvetica, sans-serif; 
} 
@mixin lifehack {
    font-family: 'Lifehack-Medium';
    
}
@mixin ubuntu {
    font-family: 'Ubuntu-Medium';
    
}


