.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 12px;
}
.menu{
    display: flex;
    align-items: center;
}
.nav_list{
    display: flex;
    align-items: center;
}
